body {
    margin: 0px;
}

.page{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    height: 300px;
    width: 300px;
}

.grid-item {
    border: solid 1px red;
}


